.cardDescription {
    background-color: #f5ebd2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

.paddingStyle {
    width: 50rem;
}

.paddingStyle span {
    font-size: 18px;
    font-family: 'Mochiy Pop One', sans-serif;
    color: brown;
}

.paddingStyle p {
    font-size: 16px;
    color: brown;
}

.paddingStyle .precioText {
    font-size: 20px;
    color: brown;
    font-weight: bold;
}

.bgBodyCard {
    background-color: #f5ebd2;
}