/* ItemListContainer */
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

.parrafoEjemplo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0px;
    font-size: 32px;
    font-weight: bold;
    color: brown;
    padding-left: 6.5%;
    font-family: 'Mochiy Pop One', sans-serif;
}

.divBody {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    justify-items: center;
    padding: 0px 20px;
    gap: 10px;
}