/* AppCSS */
.App {
    text-align: center;
}

.bodyColor {
    background-color: #f5ebd2;
}

/* CartWidget */
.cartIcon {
    padding-bottom: 12px;
    display: flex;
}

.cartIcon img {
    width: 52px;
}

.cartIcon span {
    position: relative;
    top: 15px;
    right: 25px;
    font-size: 18px;
    font-weight: bold;
}

/* Item */
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

.titleProducto {
    font-size: 18px;
    font-family: 'Mochiy Pop One', sans-serif;
    color: brown;
}

.cardCSS {
    opacity: 0.9;
    width: 20rem;
    -webkit-box-shadow: 22px 21px 24px 8px rgba(102, 102, 102, 0.59);
    -moz-box-shadow: 22px 21px 24px 8px rgba(102, 102, 102, 0.59);
    box-shadow: 22px 21px 24px 8px rgba(102, 102, 102, 0.59);
}

.cardCSS:hover {
    opacity: 1;
}

.bgColor {
    background-color: #f5ebd2;
}

/* ItemCount */
.contador {
    width: fit-content;
    margin: auto;
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
}

.contador .seccionArriba {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 5px 0px;
}

.contador .seccionArriba span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.contador .seccionArriba button {
    border: 0;
    background-color: #ffc107;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    padding: 5px;
    width: 30px;
    height: 30px;
}

.contador .seccionArriba button:disabled {
    background-color: #bb9f6b;
}

.contador .botonAbajo {
    display: flex;
    justify-content: center;
}

.contador .botonAbajo button {
    border: 0;
    background-color: #ffc107;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: white;
    padding: 5px;
}

.contador .botonAbajo button:disabled {
    background-color: #bb9f6b;
}

/* ItemDetail */
.cardDescription {
    background-color: #f5ebd2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

.paddingStyle {
    width: 50rem;
}

.paddingStyle span {
    font-size: 18px;
    font-family: 'Mochiy Pop One', sans-serif;
    color: brown;
}

.paddingStyle p {
    font-size: 16px;
    color: brown;
}

.paddingStyle .precioText {
    font-size: 20px;
    color: brown;
    font-weight: bold;
}

.bgBodyCard {
    background-color: #f5ebd2;
}

/* ItemListContainer */
/* ItemListContainer */
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

.parrafoEjemplo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0px;
    font-size: 32px;
    font-weight: bold;
    color: brown;
    padding-left: 6%;
    font-family: 'Mochiy Pop One', sans-serif;
}

.divBody {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;
}

/* NavBar */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.navBarStyle {
    box-shadow: 0 3px 6px -6px black;
}

/* List Menu */
.linkMenu {
    text-decoration: none;
    color: rgb(96, 22, 22);
    padding: 7px;
    font-size: 16px;
    font-weight: 500;
}

.linkMenu:hover {
    color: orangered;
    background-color: rgb(226, 223, 223);
    border-radius: 20px;
}

/* Left Menu */
.spanBranding {
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    font-size: 26px;
    color: rgb(96, 22, 22);
}