/* CartWidget */
.cartIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartIcon img {
    width: 52px;
}

.valueCart {
    margin-top: 5px;
    font-size: 24px;
    font-weight: bold;
}

/* Item */
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

.cardProducto {
    height: 325px;
}

.titleProducto {
    font-size: 18px;
    font-family: 'Mochiy Pop One', sans-serif;
    color: brown;
}

.subTitleProducto {
    padding-bottom: 30px;
    font-weight: bold;
}

.cardCSS {
    opacity: 0.9;
    width: 20rem;
    height: 25rem;
    -webkit-box-shadow: 22px 21px 24px 8px rgba(102, 102, 102, 0.59);
    -moz-box-shadow: 22px 21px 24px 8px rgba(102, 102, 102, 0.59);
    box-shadow: 22px 21px 24px 8px rgba(102, 102, 102, 0.59);
}

.cardCSS:hover {
    opacity: 1;
}

.bgColor {
    background-color: #dbbc6d;
}

/* ItemCount */
.contador {
    width: fit-content;
    margin: auto;
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
}

.contador .seccionArriba {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 5px 0px;
}

.contador .seccionArriba span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.contador .botonAbajo {
    display: flex;
    justify-content: center;
}

/* ItemDetail */
.cardDescription {
    background-color: #cda540;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

.paddingStyle {
    width: 50rem;
}

.detailTitle span {
    font-size: 42px;
    color: brown;
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif;
}

.detailSubTitle {
    font-size: 20px;
    color: brown;
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif;
    padding-top: 20px;
}

.detailDescription {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding: 20px 0px;
}

.detailPrecio {
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

.bgBodyCard {
    background-color: #cda540;
}

.bgDetalle {
    background-color: #cda540;
}

/* ItemListContainer */
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

.parrafoEjemplo {
    padding: 10px 0px;
    font-size: 32px;
    font-weight: bold;
    color: brown;
    font-family: 'Mochiy Pop One', sans-serif;
}

.divBody1 {
    background-color: #cda540;
    text-align: center;
}

.divBody {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    padding: 0px 100px;
    background-color: #cda540;
    height: 150vh;
}

/* NavBar */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.navBarStyle {
    box-shadow: 0 3px 6px -6px black;
}

/* List Menu */
.linkMenu {
    text-decoration: none;
    color: rgb(96, 22, 22);
    padding: 16px 15px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
}

.linkMenu:hover {
    color: orangered;
    background-color: rgb(226, 223, 223);
    border-radius: 20px;
}

.dropDownMenu {
    text-decoration: none;
    padding: 7px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkDrop {
    text-decoration: none;
    color: rgb(96, 22, 22);
    font-size: 16px;
    font-weight: 500;
    display: flex;
    padding-left: 15px;
}

.linkDrop:hover {
    text-decoration: none;
    color: rgb(96, 22, 22);
    font-size: 16px;
    font-weight: 500;
    display: flex;
    padding-left: 15px;
    background-color: rgb(226, 223, 223);
}

/* Left Menu */
.spanBranding {
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    font-size: 26px;
    color: rgb(96, 22, 22);
}

/* Cart */
.bgCart {
    background-color: #cda540;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bgCart p {
    margin: 70px 0px;
    font-size: 26px;
    color: rgb(96, 22, 22);
    font-family: 'Mochiy Pop One', sans-serif;
}